@page
@model PaginaGoiabada.Pages.Fornecedores.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Fornecedor</h1>

<p>
    <a asp-page="Create">Criar um novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fornecedor[0].Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fornecedor[0].Cnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fornecedor[0].Endereco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Fornecedor) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cnpj)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco.ID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Detalhes</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
