@page
@model PaginaGoiabada.Pages.Enderecos.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Endereço</h1>

<p>
    <a asp-page="Create">Criar um novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Endereco[0].Rua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco[0].Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco[0].Cep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco[0].Bairro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco[0].Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco[0].Estado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Endereco) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bairro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Editar</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Detalhes</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
